.navbar {
    z-index: 1040;
  }
  .side-nav {
    margin-top: 57px !important;
  }
  
  @media (min-width: 1200px){
  .fixed-sn main {
      margin-left: 20% !important;
      margin-right: 20% !important;
    }
  }

  .sidebar{
      color: white;
      text-decoration: none;
      text-align: center;
      font-size: larger;
      font-weight: bolder;
  }
  .logout{
      padding-top: 5rem;
  }
  .sidebar-items{
      padding-top: 3rem;
      line-height: 36px;
  }
  .w3-teal, .w3-hover-teal:hover {
    color: black!important;
    background-color: whitesmoke!important;
  }
  .w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #E5E5E5;
  }
