.container {
    max-width: 100%;
}
.main{
    max-width: 100%;
}
#header{
    height: 120px;
}
.mainlft{
     max-width: 30%;
     margin-bottom: 2%;
}
.mainrt{
    max-width: 100%;
    margin-bottom: 2%;
}
.left{
    color: white;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #172B4D;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
}

.sidebar{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #172B4D;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
    overflow-x: auto;
    overflow-y: auto;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #172B4D;
    overflow-x: auto;
    overflow-y: auto;
    
}
.sidenav::-webkit-scrollbar {
    display: none;
}
.sidenav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.nav-link{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #DCDCDC;
}
.list{
    padding-top: 40%;
    padding-bottom: 80%;
}
.nav-item:hover{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    color: white;
    background: linear-gradient(91.29deg, #8743FF 0.39%, #4136F1 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
.nav-link:hover{
    color: white;
}
.btn{
    width: 124px;
    height: 42px;
    left: 24px;
    top: 821px;
    background: linear-gradient(91.29deg, rgba(135, 67, 255, 0.4) 0.39%, rgba(65, 54, 241, 0.4) 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.col-md-5{
    flex: 1 0 41.666667%;
}
.label{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.form-control{
    height: 61px;
    background: #E9E9E9;
    border-radius: 8px;
}
.pagehd{
    position: absolute;
    width: 230px;
    height: 54px;
    left: 344px;
    top: 37px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #0052CC;
}
.continue{
    position: static;
    width: 107px;
    height: 35px;
    left: 70px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px 0px 70px;
    width: 247px;
    height: 55px;
    top: 790px;
    background: linear-gradient(94.08deg, #6978FF 0%, rgba(57, 40, 167, 0.93) 100%);
    border-radius: 12px;
}
.pagehead{
    width: 230px;
    height: 54px;
    left: 344px;
    top: 37px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #0052CC;
}
