body{
    background-color:#E5E5E5;
}
.container{
    max-width: 100%;
}
.left{
    color: white;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #172B4D;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
    width: 320px;
}
.col-md-10 {
    -webkit-box-flex: 0;
    max-width: 100%;
}
.logo{
    left: 5.65%;
    right: 0.07%;
    top: 20.28%;
    bottom: 19.06%;
}
.right{
    background-color:#E5E5E5;
}

.sidebar{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #172B4D;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
    overflow-x: auto;
    overflow-y: auto;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #172B4D;
    overflow-x: auto;
    overflow-y: auto;
    
}
.sidenav::-webkit-scrollbar {
    display: none;
}
.sidenav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
#title{
    width: 230px;
    height: 54px;
    left: 344px;
    top: 37px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #0052CC;
}
.nav-link{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #DCDCDC;
}
.list{
    padding-top: 40%;
    padding-bottom: 80%;
}
#nav-icon{
left: 15.52%;
right: 15.52%;
top: 12.16%;
bottom: 12.16%;
color: #DCDCDC;
padding-right: 5%;
}
.nav-item:hover{
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
color: white;
background: linear-gradient(91.29deg, #8743FF 0.39%, #4136F1 100%);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
.nav-link:hover{
    color: white;
}

.btn{
    width: 124px;
    height: 42px;
    left: 24px;
    top: 821px;
    background: linear-gradient(91.29deg, rgba(135, 67, 255, 0.4) 0.39%, rgba(65, 54, 241, 0.4) 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
#image{
    border: 1px solid #ddd;
    border-radius: 100%;
}
.image{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 1354px;
    top: 34px;
    border-radius: 50px;
  }
  .form-control{
    left: 720px;
    top: 188px;
    background-color: #E9E9E9;
    border-radius: 8px;
  }
  .label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    line-height: 36px;
    color: #000000;
  }
  .continue{
    position: static;
    width: 107px;
    height: 35px;
    left: 70px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px 0px 70px;
    width: 247px;
    height: 55px;
    top: 790px;
    background: linear-gradient(94.08deg, #6978FF 0%, rgba(57, 40, 167, 0.93) 100%);
    border-radius: 12px;
}
